.pagesMain {
  width: 100vw;
  max-width: 192rem;
  height: calc(100vh - 6rem);
  margin: 0 auto;
  position: relative;
  overflow: hidden;
  color: #fff;
  font-size: 1.4rem;
  letter-spacing: 0.25rem;
  text-shadow: 0.1rem 0.1rem 0.2rem #323131c6;
}

.pagesMain::after {
  content: "";
  width: 75%;
  height: 75%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  background-image: url("../../assets/BG_SkullLoog_Frame_Resize.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  filter: blur(1.25rem);
  -webkit-filter: blur(1.25rem);
  opacity: 0.25;
  /* z-index: -1; */
}
