/************************************/
/* Dispatch Time Line Component */
/************************************/

.dispatchTimeLineContainer {
  width: 100%;
  height: 3.3rem;
  margin-bottom: 0.5rem;
  padding: 0.25rem 0rem;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  letter-spacing: 0.2rem;
  font-size: 1rem;
  background-color: #000000bb;
  box-shadow: 0.2rem 0.2rem 0.3rem rgba(14, 14, 14, 0.628);
}

.dispatchTimeLineContainer:hover {
  background-color: rgba(5, 82, 108, 0.674);
  cursor: pointer;
}

.dispatchTimeLineContainer > div {
  height: 100%;
  margin: 0 0.25rem;
  /* padding: 0.25rem 0.75rem; */
  display: flex;
  justify-content: center;
  align-items: center;
  /* border: 0.1rem solid #fff; */
}

.dispatchTimeLineContainer > .dispatchTimeLineContainer_type {
  width: 3rem;
}

.dispatchTimeLineContainer
  > .dispatchTimeLineContainer_dispatchNumber {
  width: 7rem;
}

.dispatchTimeLineContainer > .dispatchTimeLineContainer_mode {
  width: 5rem;
}

.dispatchTimeLineContainer > .dispatchTimeLineContainer_haz {
  width: 8rem;
}

.dispatchTimeLineContainer > .dispatchTimeLineContainer_ow {
  width: 7rem;
}

.dispatchTimeLineContainer > .dispatchTimeLineContainer_ssl_size {
  width: 13rem;
  padding-left: 0.5rem;
  justify-content: flex-start;
}

.dispatchTimeLineContainer > .dispatchTimeLineContainer_container {
  width: 16rem;
  padding-left: 0.5rem;
  justify-content: flex-start;
}

.dispatchTimeLineContainer > .dispatchTimeLineContainer_chas {
  width: 20rem;
  justify-content: flex-start;
}

.dispatchTimeLineContainer > .dispatchTimeLineContainer_customer {
  width: 12rem;
  justify-content: flex-start;
}

.dispatchTimeLineContainer > .dispatchTimeLineContainer_location {
  width: 32rem;
  padding-left: 1rem;
  justify-content: flex-start;
  font-weight: 600;
}

.dispatchTimeLineContainer > .dispatchTimeLineContainer_date {
  width: 5rem;
  font-weight: 600;
}

.dispatchTimeLineContainer > .dispatchTimeLineContainer_time {
  width: 5rem;
  font-weight: 600;
}

.dispatchTimeLineContainer > .dispatchTimeLineContainer_status {
  width: 18rem;
  padding-left: 0.15rem;
  justify-content: flex-start;
}

.dispatchTimeLineContainer
  > .dispatchTimeLineContainer_status
  > span {
  margin-right: 0.5rem;
  color: yellow;
}

.dispatchTimeLineContainer
  > .dispatchTimeLineContainer_currentDriver {
  width: 13rem;
}

.dispatchTimeLineContainer
  > .dispatchTimeLineContainer_currentDriver
  > span {
  margin-left: 0.5rem;
  color: yellow;
}

.dispatchTimeLineContainer > .dispatchTimeLineContainer_billStatus {
  width: 10rem;
  margin-left: 0.5rem;
}

.dispatchTimeLineContainer
  > .dispatchTimeLineContainer_billStatus
  > span {
  margin-left: 0.5rem;
}

.dispatchTimeLineContainer > .dispatchTimeLineContainer_expand {
  width: 2.5rem;
  cursor: pointer;
}

/************************************/
/* Conditional Styling */
/************************************/

.nullStyling {
  color: #fff;
  background-color: rgb(68, 127, 166);
}

.dispatchTimeLineContainer > .identifier {
  background-color: transparent;
  border: 0.1rem solid #fff;
  border-radius: 0.4rem;
  -webkit-border-radius: 0.4rem;
  -moz-border-radius: 0.4rem;
  -ms-border-radius: 0.4rem;
  -o-border-radius: 0.4rem;
}

.dispatchTimeLineContainer > .hazBox {
  font-weight: 600;
  background-color: red;
  border: none;
}

.dispatchTimeLineContainer > .overweightBox {
  color: #000;
  font-weight: 600;
  background-color: yellow;
  border: none;
}

.dispatchTimeLineContainer > .customer_appt {
  border: none;
  color: #000;
  background-color: #fff;
}

.nulliedData {
  display: none;
}

.billedStyling {
  color: #000;
  font-weight: 600;
  background-color: rgb(137, 229, 9);
  border: none;
}
