.sideTaskViewContainer {
  width: 0;
  height: 0;
  position: absolute;
  top: 5rem;
  right: 0;
  z-index: 50;
}

.sideTaskViewContainer > .sideTaskViewContainer_toggle {
  width: 14rem;
  height: 4rem;
  position: absolute;
  top: -4rem;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  cursor: pointer;
  transition: 0.35s ease-in-out;
  -webkit-transition: 0.35s ease-in-out;
  -moz-transition: 0.35s ease-in-out;
  -ms-transition: 0.35s ease-in-out;
  -o-transition: 0.35s ease-in-out;
}

.sideTaskViewContainer > .sideTaskViewContainer_menu {
  width: 60rem;
  height: 90vh;
  position: absolute;
  top: 0;
  right: 0;
  background-color: #000000;
  opacity: 0.96;
  overflow-x: hidden;
  overflow-y: scroll;
  -ms-overflow-style: none; /*InternetExplorer10+*/
  scrollbar-width: none; /*Firefox*/
  transition: 0.35s ease-in-out;
  -webkit-transition: 0.35s ease-in-out;
  -moz-transition: 0.35s ease-in-out;
  -ms-transition: 0.35s ease-in-out;
  -o-transition: 0.35s ease-in-out;
}

.sideTaskViewContainer
  > .sideTaskViewContainer_menu::-webkit-scrollbar {
  display: none; /* Safari and Chrome */
}

.sideTaskViewContainer
  > .sideTaskViewContainer_menu
  > .sideTaskViewContainer_miniView {
  width: 100%;
  height: 25rem;
  margin-top: 2rem;
  border-bottom: 0.1rem dotted #fff;
}

.sideTaskViewContainer
  > .sideTaskViewContainer_menu
  > .sideTaskViewContainer_miniView
  > p {
  width: 100%;
  height: auto;
  padding-left: 2rem;
  text-align: start;
}

/* Conditional Styling */

.closeTaskView {
  transform: translateX(200%);
  -webkit-transform: translateX(200%);
  -moz-transform: translateX(200%);
  -ms-transform: translateX(200%);
  -o-transform: translateX(200%);
}

.openTaskView {
  transform: translateX(0%);
  -webkit-transform: translateX(0%);
  -moz-transform: translateX(0%);
  -ms-transform: translateX(0%);
  -o-transform: translateX(0%);
}

.toggleBG {
  background-color: #000;
  opacity: 0.96;
}
